$navbar-default-bg: #ed9c38;

@import "bootstrap-sprockets";
@import "bootstrap";

.panel-footer {
  background-color: #ed9c38 !important;
  text-align: center;
  color: #fff;
}

.center {
  text-align: center;
}

.btn-xlarge {
  background-color: #ed9c38;
  color: #fff;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

.footer_link {
  float: right;
  color: #fff;
}

.jumbotron {
  background-image: asset-url("cover_image.jpg");
  background-size: cover;
  height: 300px;
}

.col-lg-4 h2 {
  color: #ed9c38;
}

.jumbotron h1, .jumbotron h2 {
  color: #ed9c38;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: grey;
  text-decoration: none;
}
